body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    /* border: 2px dotted black */
}


header {
    width: 100%;
    height: 80px;
    background-color: #FF6900;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container {
    /* background-color: grey; */
    width: 90%;
    height: 700px;
    margin: 0 auto;
    padding: 50px;
}


.row {
    /* background-color: rgb(218, 152, 91); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;

}

.column-swap {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/1.webp);
    background-size: contain;
    background-position: center;
    position: relative;

}

.column-margin {
    margin: 0px 20px
}

.column-swap:hover {
    background-image: url(../img/1b.webp);
}


.column-swap-2 {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/2.webp);
    background-size: contain;
    background-position: center;
    position: relative;


}

.column-swap-2:hover {
    background-image: url(../img/2b.webp);

}

.column-swap-3 {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/3.webp);
    background-size: contain;
    background-position: center;
    position: relative;
}

.column-swap-3:hover {
    background-image: url(../img/3b.webp);
}

.column-swap-4 {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/4.webp);
    background-size: contain;
    background-position: center;
    position: relative;
}

.column-swap-4:hover {
    background-image: url(../img/4b.webp);
}

.column-swap-5 {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/5.webp);
    background-size: contain;
    background-position: center;
    position: relative;
}

.column-swap-5:hover {
    background-image: url(../img/5b.webp);
}

.column-swap-6 {
    background-color: bisque;
    flex-basis: 33%;
    height: 100%;
    background-image: url(../img/6.webp);
    background-size: contain;
    background-position: center;
    position: relative;
}

.column-swap-6:hover {
    background-image: url(../img/6b.webp);
}





.tag {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.discount-tag {
    height: 25px;
    width: 50px;
    background-color: red;
    color: white;
    margin-right: 5px
}

.ecologic-tag {
    height: 25px;
    width: 100px;
    background-color: green;
    color: white;
}

.cuore {
    color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    right: o;
    top: 20px;
    background-color: white;
    justify-content: center;
}




.art-info{position: absolute;top: 100%;height: 10px;}

.fit{font-size: 20px;font-weight: bold;}

.discount{color: red;text-decoration: line-through red;font-weight: bold;}

a{text-decoration: none;}
/* .gender-button{height: 80px; line-height: 80px;text-align: left;} */
.h-text{color: white;font-weight: bold;font-size: 20px;}

.logo{width: 200px;}

.logo-set{color: white;}

.gender-button{width: 200px;display: flex;justify-content: space-between;}


footer{width: 100%;height: 200px; background-color: #1A1A1A;position: absolute;bottom: 0;}